.container {
    margin: 50px 0;
    font-size: 100px;
}

.card {
    margin: 0 2% !important;
}

.infected {
    border-bottom: 10px solid rgba(0, 0, 255, 0.5);
    background-color: red;
}
.recovered {
    border-bottom: 10px solid rgba(0, 255, 0, 0.5);

}
.deaths {
    border-bottom: 10px solid rgba(255, 0, 0, 0.5);

}